/* ------------------------------------------------------------
---------------------------------------------------------------
--------------------- GENERAL ---------------------------------
-------------------------------------------------------------*/

:root {
  --darkColor: rgb(43, 45, 46);
  --greyColor: rgb(100, 100, 100);
  --blueColor: #4a608c; /*#3F8EBF*/
  --greenColor: #3bd952;
  --redColor: #e34949;
  --orangeColor: rgb(242, 176, 53);
  --offWhiteColor: #f2f2f2;
  --writingColor: rgba(0, 0, 0, 0.7);
  --darkerWritingColor: rgba(0, 0, 0, 0.8);
}
:root {
  --logoWriting: "Lemonada", cursive;
  --titleWriting: "Podkova", serif;
  --generalWriting: "EB Garamond", serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0 auto;
  height: 100vh;
  font-size: 1.6rem;
  font-family: var(--generalWriting);
  color: var(--writingColor);
  text-align: center;
  background-image: url("../images/marble.jpg");
  background-size: cover;
}

main:not(#home) {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  min-height: calc(100vh - 98px);
  padding: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.br {
  display: block;
}
h1 {
  font-family: var(--logoWriting);
  font-size: 2.5rem;
  text-shadow: 2px 2px 3px black;
  color: var(--orangeColor);
}
h2 {
  font-family: var(--titleWriting);
  font-size: 3.5rem;
  color: var(--darkerWritingColor);
  text-transform: uppercase;
  padding: 30px 0;
}
h3 {
  font-family: var(--titleWriting);
  font-size: 2.5rem;
  color: var(--orangeColor);
  padding: 15px 0;
}
h4 {
  color: var(--darkerWritingColor);
  font-size: 1.8rem;
  margin: 5px 0;
  transition: 0.5s;
}
h4:hover {
  cursor: pointer;
  transform: scale(1.02);
}
a {
  text-decoration: none;
  color: var(--writingColor);
}
img {
  max-width: 100%;
}
button:not(#moneyDownButton) {
  cursor: pointer;
  background-color: var(--darkColor);
  color: white;
  padding: 10px;
  font-size: 1.8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px var(--writingColor);
}
hr {
  width: 80%;
}
.fas,
.fab,
.far {
  padding: 0 10px;
  font-size: 1.8rem;
}
.error {
  font-weight: bold;
  margin: 1% 0;
  line-height: 2;
  color: var(--redColor);
}
.red {
  border: 1px solid var(--redColor);
}

/* ------------------------------------------------------------
---------------------------------------------------------------
--------------------- HEADER ---------------------------------
-------------------------------------------------------------*/
.headerResponsiveBar {
  color: white;
}
header nav.flex-row {
  padding: 12px 50px;
  background-color: var(--darkColor);
}
header h1 .fas {
  padding: 0;
  font-size: 2.5rem;
}
.imageHeader {
  width: 15%;
  text-align: left;
}
.navBar {
  display: flex;
  flex-direction: row;
}
header nav a {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--offWhiteColor);
  line-height: 2;
}

header nav a:not(:last-child) {
  padding-right: 30px;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
---------------------- FOOTER ---------------------------------
-------------------------------------------------------------*/

/* ------------------------------------------------------------
---------------------------------------------------------------
-------------------------- HOME -------------------------------
-------------------------------------------------------------*/

#home {
  background-image: url("../images/marble.jpg");
  background-size: cover;
}
#home article {
  color: var(--darkColor);
  padding: 60px 20px 0;
}
#home article:first-child {
  background-image: url("../images/sunset.jpg");
  background-position: 50% 40%;
  height: 45vh;
}
#home h2 {
  font-family: var(--logoWriting);
  color: white;
  font-size: 6rem;
  text-transform: none;
}
.thumbnail {
  font-size: 2.2rem;
  justify-content: space-around;
}
.thumbnail p {
  padding: 35px;
  margin: 15px;
  color: var(--darkColor);
  background-color: var(--offWhiteColor);
  border: 1px solid var(--darkColor);
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--darkColor);
  transition: 1s;
}
.thumbnail p:hover {
  transform: scale(1.05);
}
#home div {
  margin: 0 auto;
  text-align: left;
  width: 80%;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid var(--darkColor);
  box-shadow: 1px 1px 10px var(--orangeColor);
}
#home article:last-child {
  padding-bottom: 50px;
}
#home article:last-child div {
  background-color: var(--offWhiteColor);
  color: var(--darkColor);
}
#home .fas {
  font-size: 6rem;
  margin-top: 10px;
}
#home hr {
  margin: 20px auto 30px;
}

/* ------------------------------------------------------------
   ------------------------------------------------------------
   --------------- REGISTRATTION FORM -------------------------
   ------------------------------------------------------------
   ------------------------------------------------------------ */

form {
  margin: 2% 0;
}

fieldset {
  width: 80%;
  margin: 1% auto;
  padding: 1%;
  border: 1px solid var(--darkColor);
  border-radius: 5px;
  text-align: left;
}

#connexionForm {
  width: 30%;
}

legend {
  padding: 5px;
  margin-left: 25px;
  font-size: 2.5rem;
  color: var(--darkColor);
  font-weight: bold;
}

fieldset li {
  margin: 1% 0;
}
fieldset p {
  display: inline-block;
  color: var(--redColor);
  margin-left: 20px;
  vertical-align: top;
}
label {
  padding: 1% 0;
  vertical-align: top;
}

select,
input,
textarea {
  margin-left: 10px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1.7rem;
  color: var(--darkerWritingColor);
}

textarea {
  width: 400px;
  height: 200px;
}

.error {
  font-weight: bold;
  margin: 1% 0;
  line-height: 2;
  color: var(--redColor);
}
.red {
  border: 1px solid var(--redColor);
}
.italic {
  font-size: 1.6rem;
  font-style: italic;
  text-align: right;
  padding-top: 10px;
}
.notshow {
  display: none;
}
.show {
  display: block;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
--------------------- CALENDAR --------------------------------
-------------------------------------------------------------*/

#calendar {
  margin: 0 5%;
}
#calendar h2 {
  font-size: 1.7rem;
}
#calendar .fc-button,
#calendar .fc-icon {
  line-height: 1;
  padding: 0.3em;
  font-size: 0.9em;
}
#calendar .fc-day-number:hover {
  cursor: pointer;
}

#calendar-left-part,
#calendar-right-part {
  display: inline-block;
  vertical-align: top;
  margin: 0 1%;
}
#calendar-left-part {
  width: 65%;
  padding: 20px;
  border-radius: 10px;
}
#calendar-right-part {
  width: 25%;
}
#calendar-left-part section,
#calendar-right-part section {
  margin: 1% 0;
}
#calendar-left-part p {
  padding: 10px 0 20px;
}
#waitingTasks,
#importantTasks {
  border: 1px solid var(--darkColor);
  border-radius: 5px;
}
.task,
.importantTask,
#waitingTasks,
#importantTasks {
  padding: 5px;
}
#doneTasks .task,
#failedTasks .task {
  justify-content: center;
}
#doneTasks {
  background-color: var(--greenColor);
}
#failedTasks {
  background-color: var(--redColor);
}
.backgroundCalendar {
  background-color: var(--orangeColor);
}
#calendarPage form {
  margin-top: 5%;
}
#budget {
  justify-content: center;
}
#budget:hover {
  cursor: pointer;
}
#budget img {
  width: 50%;
}
#budget strong {
  font-size: 2.5rem;
}

#removeMoneyForm {
  border: 1px solid var(--orangeColor);
  box-shadow: 2px 2px 5px var(--darkColor);
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
}
#removeMoneyForm .fas {
  font-size: 2.3rem;
}
#moneyDown {
  max-width: 50%;
}
#moneyDownButton {
  border: none;
  color: var(--darkColor);
}

/* ------------------------------------------------------------
---------------------------------------------------------------
----------------- ARTICLES USER PAGE --------------------------
-------------------------------------------------------------*/

#articles section article p span,
#admin section article p span {
  font-size: 1.8rem !important;
  font-family: var(--generalWriting) !important;
  color: var(--writingColor) !important;
}
#articles article,
#admin article,
#comments {
  padding: 10px;
  text-align: left;
  margin: 0 auto;
}
#articles article p,
#admin article p {
  margin: 10px 5px;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
----------------- ARTICLE DETAILS PAGE ------------------------
-------------------------------------------------------------*/
#articleDetails {
  text-align: justify;
}
#articleDetails img {
  max-height: 300px;
  float: right;
  margin: 0 0 25px 25px;
}
#articleContent {
  margin: 0 20px;
}
#articleDetails .italic:not(#comments .italic) {
  margin: 25px 0;
}
#comments {
  width: 90%;
}
#comments p:fist-of-type {
  padding-left: 10px;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
---------------------- CONTACT PAGE ---------------------------
-------------------------------------------------------------*/

#contact section,
#userDetails section {
  padding: 2%;
  border: 1px solid var(--orangeColor);
}
#contact p {
  font-size: 1.8rem;
}
#contact li {
  font-size: 2.2rem;
  margin-top: 3%;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
------------------- USER DETAILS PAGE -------------------------
-------------------------------------------------------------*/

#userDetails p,
#userDetails a {
  font-size: 2.1rem;
  line-height: 2;
  text-align: left;
}
#userDetails span {
  text-decoration: underline;
  font-weight: bold;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
---------------------- ADMIN PAGE -----------------------------
-------------------------------------------------------------*/

#admin div {
  align-items: flex-start;
}

#admin section {
  width: 47%;
}

#admin section h3 {
  background-color: var(--darkColor);
  color: white;
}
#admin article {
  border: 1px solid var(--darkColor);
  border-top: none;
}

/* ------------------------------------------------------------
---------------------------------------------------------------
----------- LIST OF USERS  / ARTICLES / CATEGORIES ADMIN -------
-------------------------------------------------------------*/

#listUsers .fas {
  cursor: pointer;
}
.tableAdmin table,
.tableAdmin tr {
  margin: 0 auto;
  border: 1px solid var(--darkColor);
}
.tableAdmin th,
.tableAdmin td {
  padding: 10px 20px;
}
.tableAdmin th {
  font-weight: bold;
  text-transform: uppercase;
}
.tableAdmin thead tr {
  background-color: var(--darkColor);
  color: white;
}
.tableAdmin tbody tr:nth-of-type(even),
.tableAdmin tbody tr:nth-of-type(even) a {
  background-color: var(--greyColor);
  color: white;
}
#listUsers .form-user label {
  vertical-align: middle;
}
#listUsers .form-user button,
#listUsers .form-user select {
  background-color: white;
  color: var(--darkerWritingColor);
  font-size: 1.3rem;
  padding: 3px;
}
#upsertArticle fieldset,
#upsertCategory fieldset {
  width: 100%;
}

/************************************************************************************
*************************************************************************************
******************************* RESPONSIVE ******************************************
*************************************************************************************
************************************************************************************/

/*----------------------------------------
--------------- MENU ---------------------
-----------------------------------------*/

@media only screen and (max-width: 1601px) {
  header nav.flex-row {
    padding: 10px 20px;
  }
  header h1,
  header h1 .fas {
    font-size: 2.2rem;
  }
  header nav a {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .imageHeader {
    width: 20%;
  }
  header h1,
  header h1 .fas {
    font-size: 1.9rem;
  }
  header nav a {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 910px) {
  .imageHeader {
    width: 30%;
  }
}

@media only screen and (max-width: 780px) {
  header nav.flex-row {
    padding: 10px 5px;
  }
  .headerResponsiveBar {
    display: block;
  }
  .show {
    display: none;
  }
  .navBar {
    flex-direction: column;
    position: absolute;
    background-color: var(--darkColor);
    text-align: left;
    top: 38px;
    left: 0;
    width: 100%;
    padding: 10px;
  }
}

/*----------------------------------------
------------ APPLI PAGES -----------------
-----------------------------------------*/

@media only screen and (max-width: 780px) {
  body {
    background-image: none;
  }
  button:not(#moneyDownButton) {
    padding: 5px;
    font-size: 1.5rem;
    margin: 1px;
  }
  label {
    display: block;
  }

  /*----------------------------------------
  ------------ HOME PAGE -------------------
  -----------------------------------------*/

  #home h2 {
    font-size: 4rem;
  }
  #home article:nth-child(2) {
    flex-direction: column;
    max-width: 415px;
    margin: 0 auto;
  }

  /*----------------------------------------
  ------------ CONTACT PAGE ----------------
  -----------------------------------------*/

  #contact article .flex-row {
    flex-direction: column;
  }

  /*----------------------------------------
  -------- ARTICLE DETAILS PAGE-------------
  -----------------------------------------*/

  #articleDetails img {
    float: none;
    display: block;
    margin: 0 auto 30px;
  }
  #articleDetails legend {
    font-size: 1.8rem;
  }
  textarea {
    width: 270px;
    height: 150px;
  }

  /*----------------------------------------
  ------------ CALENDAR PAGE----------------
  -----------------------------------------*/

  #calendar-left-part,
  #calendar-right-part {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #calendar-left-part section,
  #calendar-right-part section {
    padding: 0;
  }
  #calendar-right-part .flex-column {
    flex-direction: row;
  }
  #calendar-left-part fieldset {
    width: 90%;
  }
  #budget img {
    width: 30%;
  }

  /*----------------------------------------
  -------- USER DETAILS PAGE ---------------
  -----------------------------------------*/

  #userDetails a,
  #userDetails p {
    display: block;
    font-size: 1.8rem;
    line-height: 1;
    padding-bottom: 15px;
  }

  /*----------------------------------------
  ------------- ADMIN PAGE -----------------
  -----------------------------------------*/

  #admin .flex-row {
    flex-direction: column;
  }
  #admin section {
    width: 95%;
    margin: 10px auto;
  }
  .tableAdmin th,
  .tableAdmin td {
    padding: 5px 2px;
  }
  .tableAdmin th,
  .tableAdmin td,
  .tableAdmin .fas {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 450px) {
  textarea {
    width: 230px;
    height: 125px;
  }
}
